server {
    listen 10006 10007 10008
    root ./wata
    max_body_size 10000
    error_page defaultErrorPage.html
    location / {
        accepted_method GET
        root ./data/a
        index index.html
        auto_index on
    }
    location /upload {
        accepted_method GET,POST,DELETE
        root ./data/upload
        auto_index on
    }
    location .py {
        accepted_method GET,POST,DELETE
        root ./data/cgi
        ourcgi_pass     /usr/bin/python3
        ourcgi_index    ./data/cgi/hello.py
        uploaded_path   ./data/upload
    }
}